@font-face {
  font-family: 'Sport';
  src:  url('fonts/sporting_grotesque.otf') format('opentype');
}

@font-face {
  font-family: 'Work';
  src: url('fonts/WorkSans-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family:  'Work', Arial, sans-serif;
  font-size: 20px;
}
html{
  background-color: #FFFD38;
}
::selection{
  background-color: red;
}
svg{
  position: absolute;
}
ol{
  list-style-type: none;
}
#container{
 position: absolute;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}
.inner-container-slider{
  width: calc(70% + 750px);
  height: 100vh;
  position: absolute;
  display: inline-block;
}

.sport{
  font-family: 'Sport', sans-serif;
}
.sport-small{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
}

/*LEFT SCROLLBAR CSS*/
.left-bar-container{
  height: 100vh;
  width: 350px;
  background-color: #D1E0E2;
  display: inline-block;
  z-index: 5;
}
.scroll-bar{
  height: 90%;
  position: relative;
}
.scroll-button{
  width: 100%;
  height: 15%;
  margin: 12% 0;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.scroll-button:hover{

}
.scroll-thread{
  background-color: #000;
  height: 80%;
  top: 10%;
  box-sizing: border-box;
  width: 2px;
  left: 75px;
  position: absolute;
  display: inline-block;
  transform: translateX(-50%);
}
.scroll-dot{
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 75px;
  transform: translateX(-50%) translateY(-50%);
}
#dot-1{ top: 10%; }
#dot-2{ top: 34%; }
#dot-3{ top: 58%; }
#dot-4{ top: 82%; }
#dot-e{
  top: 90%;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 75px;
  transform: translateX(-50%) translateY(-50%);
  background-color: #000;
  border-radius: 50%;
}

#scroll-t1{ top: 10%; }
#scroll-t2{ top: 34%; }
#scroll-t3{ top: 58%; }
#scroll-t4{ top: 82%; }


.scroll-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  cursor: pointer;
}
.scroll-text:hover{
  text-shadow: 0px 0px 6px #000;
}
#dial-container{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  top: 10%;
  position: absolute;
}
.scroll-dial{
  background: #fff;
  width: 70px;
  height: 36px;
  border: 2px solid #000;
  position: absolute;
  box-sizing: border-box;
  left: 40px;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  /*opacity: .2;*/
}
.scroll-bit{
  width: 65%;
  background-color: #000;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.scroll-bit1{
  top: 40%;
}
.scroll-bit2{
  top: 60%;
}


.list-master-container{
  height: 100vh;
  width: 70vw;
  background-color: #fff;
  display: inline-block;
  z-index: 10;
  position: absolute;
  overflow: scroll;
  padding-right: 20px;
}

.list-end{
  width: 100%;
  height: 50px;
  margin: 100px auto;
  box-sizing: border-box;
  position: relative;
}
.end-star{
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/*INFO SLIDE CSS*/
#info-slide{
  height: 100vh;
  width: 750px;
  background-color: #2F51D7;
  right: 0;
  position: absolute;
  z-index: 100;
  padding: 50px 70px 50px 70px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.info-slide-container{
  display: none;
}
.intro-box{
  width: 100%;
  height: 10vh;
  position: relative;
}
.intro-button{
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
}
#intro-button-main{
  left: 28px;
}
#intro-button-side{
  left: 136px;
}
.info-title{
  margin: 10px 0 0 0;
  font-size: 2.8em;
}
.youtube{
  margin: 40px auto;
  display: block;
}
.notes-title{
  z-index: 101;
  display: inline-block;
  position: relative;
  top: 12px;
  left: 15px;
  padding: 0 5px;
  text-transform: uppercase;
  background-color: #2F51D7;
}
.finn-notes{
  color: #fff;
  border: 2px solid #000;
  padding: 25px 15px;
  background-color: none;
  box-shadow: 0px 0px 10px #000;
}
.boring-container{
  width: 100%;
  background-color: red;
  margin: 50px 0;
  line-height: 1.6;
}
.boring-left{
  width: 22%;
  display: inline-block;
  float: left;
}
.boring-right{
  width: 60%;
  display: inline-block;
  float: left;
}
.boring-right li{
  font-family: 'Sport', sans-serif;
}
.track-list{
}
.track-list ol{
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
}
.track-list ol li{
  padding: 20px 20px 20px 50px;
  font-size: 2em;
  cursor: pointer;
}
.track-list ol li:hover{
  background-color: #FEFECD;
  transition: .2s;
}
.track-list ol li:first-child{
  padding: 30px 0 20px 50px;
}
.track-list ol li:last-child{
  padding: 20px 0 30px 50px;
}
.track-list ol li:active{
  color: #FEFECD;
}
.svg-fit{
  flex: 1;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
}
.cover-img{
  /*background: red;*/
  flex: 1;
}
.cover-albums{
  height: 100vh;
  /*position: relative;*/
  display: flex;
  flex-direction: column;
}
.cover-albums p{
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  /*position: absolute;
  left: 50%;
  transform: translateX(-50%);*/
  width: 100%;
}
.cover-text-top{
  top: 20px;
}
.cover-text-bottom{
  bottom: 20px;
}


img.mouse-hovered {
    display:none;
    position: absolute;
}

.art{
  z-index: 1000;
  width: 250px;
  height: 250px;
  background-color: #fff;
  box-shadow: 0px 0px 15px #666;
}



#site-intro-container{
  position: absolute;
  z-index: 500;
  background-color: #FEFD38;
  width: 95vw;
  height: 95vh;
  bottom: -120%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 100px #000;
  box-sizing: border-box;
  padding: 60px;
}
.site-intro-title-1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: #FEFD38;
  font-size: 3em;
  display: inline-block;
  text-decoration: none;
}
.site-intro-title-1:hover{
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: #000;
}
.site-intro-title-2{
  font-size: 3em;
  display: inline-block;
  position: relative;
  left: -5px;
}
#site-intro-close{
  width: 50px;
  height: 50px;
  float: right;
  transition: .4s;
  cursor: pointer;
}
#site-intro-close:hover{
  transform: rotate(90deg);
}
.intro-text-container{
  width: 80%;
  margin: 80px auto;
}
.intro-text-container p{
  font-size: 1em;
}
.intro-text-container p.sport{
  font-size: 1em;
  margin: 0 0 25px 0;
}
.intro-text-container p a{
  color: #000;
  text-decoration: #000;
}
.intro-text-container p a:hover{
  text-decoration: none;
}
.intro-text{
  width: 50%;
  float: left;
}
.intro-colophon{
  width: 40%;
  float: right;
}
